---
import Layout from '../layouts/Layout.astro';
import ProjectWidget from '../components/ProjectWidget/ProjectWidget.jsx';

import data from '../data/development.json';

let presentDate = new Date();
let startDate = new Date('2020-01-01');
let howManyYears = presentDate.getUTCFullYear() - startDate.getUTCFullYear();

let qualifier = "over"
if (((presentDate.getUTCMonth()+1) - (startDate.getUTCMonth()+1)) > 6) {
  qualifier = "almost";
  howManyYears++;
}
---

<Layout title="Maggie Bittarelli | Development Portfolio">
	<main>
    <div id="dev-content">
      <h1 id="dev-heading">I've been building engaging web experiences for {qualifier} {howManyYears} years</h1>

      <p id="current-status">As of Autumn 2024, I'm dedicating time to building a website for a local artist, becoming proficient in TypeScript, and working on a few other personal projects that I plan to release in the coming months. If you think I'd be a good addition to your development team, I'd love to connect!</p>

      <p id="dev-blurb">For the last 4+ years of my career, I was a major player on a small team of <a id="gs-team" href="https://www.graftonstudio.com/our-team" target="_blank" rel="noreferrer noopener">stellar devs</a>. Performance, accessibility, and responsive design were fore-most considerations from the onset with each client. While my daily work was largely independent, I frequently collaborated with developers, designers, and project managers. Check out a non-exhaustive list of projects to which I've made significant contributions below.</p>


      <ProjectWidget client:load projects={data.projects}></ProjectWidget>
    </div>
	</main>
</Layout>

<style>
	#dev-content {
		margin: auto;
		padding: 1rem;
		max-width: 800px;
		font-size: 20px;
		line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
	}

  h1 {
    font-family:'Charsey';
    line-height: 3.25rem;
    text-align: center;
  }

  #gs-team {
    color: #1864FB;
    text-decoration: none;
    font-weight: 600;
  }
  #gs-team:visited {
    color: #0453F1;
  }

  #dev-blurb {
    font-family: 'Charsey';
    margin-bottom: 3rem;
  }

  /* Mobile mode */
  @media (max-width: 769px) {
    main {
      padding: 0 1rem 1rem;
    }

    #dev-content {
      display: unset;
    }
  }

</style>