---
import Layout from '../layouts/Layout.astro';
import ProjectWidget from '../components/ProjectWidget/ProjectWidget.jsx';

import data from '../data/development.json';

let presentDate = new Date();
let startDate = new Date('2020-01-01');
let howManyYears = presentDate.getUTCFullYear() - startDate.getUTCFullYear();

let qualifier = "over"
if (((presentDate.getUTCMonth()+1) - (startDate.getUTCMonth()+1)) > 6) {
  qualifier = "nearly";
  howManyYears++;
}
---

<Layout title="Maggie Bittarelli | Development Portfolio">
	<main>
    <div id="dev-content">
      <h1 id="dev-heading">I've been building engaging web experiences for {qualifier} {howManyYears} years</h1>

      <ProjectWidget client:load projects={data.projects}></ProjectWidget>

      <p class="current-status">As of Autumn 2024, I'm dedicating time to building a website for a local artist, becoming proficient in TypeScript, and working on a few other personal projects that I plan to release in the coming months. </p>
      <p class="current-status connect">If you think I'd be a good addition to your development team, I'd love to connect!</p>
    </div>
	</main>
</Layout>

<style>
	#dev-content {
		margin: auto;
		padding: 1rem;
		max-width: 800px;
		font-size: 20px;
		line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
	}

  h1 {
    font-family:'Charsey';
    line-height: 3.25rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  #gs-team {
    color: #1864FB;
    text-decoration: none;
    font-weight: 600;
  }
  #gs-team:visited {
    color: #0453F1;
  }

  .current-status {
    margin-top: 3rem;
    font-size: 1.3rem;
  }
  .current-status.connect {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-align: center;
  }

  /* Mobile mode */
  @media (max-width: 769px) {
    main {
      padding: 0 1rem 1rem;
    }

    #dev-content {
      display: unset;
    }
  }

</style>