---
// Components
import Layout from '../layouts/Layout.astro';
import ProjectWidget from '../components/ProjectWidget/ProjectWidget.jsx';

// Data
import data from '../data/development.json';

// Generate the approximate duration of my hands-on dev experience
let presentDate = new Date();
let startDate = new Date('2020-01-01');
let howManyYears = presentDate.getUTCFullYear() - startDate.getUTCFullYear();

let qualifier = "over"
if (((presentDate.getUTCMonth()+1) - (startDate.getUTCMonth()+1)) > 6) {
  qualifier = "about";
  howManyYears++;
}
---

<Layout title="Maggie Bittarelli | Development Portfolio">
	<main>
    <div id="main-content">
      <h1 id="main-heading">Hi! I'm Maggie.</h1>

      <p id="subheading">I've been building interesting things on the web for {qualifier} {howManyYears} years</p>

      <p id="current-status">As of Autumn 2024, I'm overhauling this site, dedicating time to building an ecommerce website for a local artist, becoming proficient in TypeScript, and working on a few other personal projects that I plan to release in the coming months. If you think I'd be a good addition to your team, I'd love to connect!</p>

      <p id="dev-blurb">For the last 4.25 years of my career, I was a major player on a small team of <a id="gs-team" href="https://www.graftonstudio.com/our-team" target="_blank" rel="noreferrer noopener">stellar devs</a>. Performance, accessibility, and responsive design have always been fore-most considerations from the onset with every project I've been on. I thrive in an independent work setting that incorporates respectful, enthusiastic, and empathetic collaboration with developers, designers, and project managers. Check out a non-exhaustive list of projects to which I've made significant contributions below.</p>

      <ProjectWidget client:load projects={data.projects}></ProjectWidget>
    </div>
	</main>
</Layout>

<style>
  /* Main content wrapper */
  #main-content {
    padding: 1rem;
    margin: auto;
		max-width: 900px;
		font-size: 20px;
		line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
	}

  /* H1 */
  #main-heading {
    font-size: 7rem;
    line-height: 3.25rem;
    font-family: 'OfficeSqueeze';
    margin-bottom: 2rem;
    text-align: center;
  }

  /* Subheading */
  #subheading {
    text-align: center;
    max-width: 730px;
    margin-top: 3rem;
    color: #94286F;
    font-size: 2rem;
    font-family: 'Charsey';
    font-weight: 600;
  }

  /* Current status copy */
  #current-status {
    font-size: 1.3rem;
    font-family: 'Charsey';
    font-weight: 600;
  }

  /* "Stellar devs" link */
  #gs-team {
    color: #1864FB;
    text-decoration: none;
    font-weight: 600;
  }
  #gs-team:visited {
    color: #0453F1;
  }

  /* Brief description */
  #dev-blurb {
    font-family: 'Charsey';
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  /* Mobile mode */
  @media (max-width: 769px) {
    /* Main content wrapper */
    #main-content {
      margin: 0 1rem;
    }

    /* H1 */
    #main-heading {
      font-size: 5rem;
      line-height: 4.5rem;
      margin-bottom: unset;
    }

    /* Subheading */
    #subheading {
      margin-top: 2rem;
      margin-bottom: 1rem;
      max-width: 410px;
    }
  }

  /* Smaller mobile mode */
  @media (max-width: 550px) {
    /* Main content wrapper */
    #main-content {
      margin: 0 .5rem;
    }

    /* H1 */
    #main-heading {
      font-size: 3rem;
      line-height: 3.5rem;
      margin-top: 1rem;
    }

    /* Subheading */
    #subheading {
      margin-top: 1rem;
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin-bottom: unset;
      width: 100%;
    }

    #dev-blurb {
      margin-top: 1rem;
    }
  }
</style>
