---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
---

<Layout title="Maggie Bittarelli | Personal Site">
	<main>
    <div id="main-content">
      <h1 id="main-heading">Hi! I'm Maggie.</h1>
      <p class="main-info intro">I'm a full-stack developer who builds clean, accessible, performant websites and webapps. </p>
      <p class="main-info">I create custom solutions in JavaScript and Typescript, frequently leveraging frameworks like React, and recently working with AstroJS.<br/>I'm a wiz with Python, and love the satisfaction of navigating a database via a well-written query.</p>
    </div>
    <ul id="card-list">
      <LinkCard href="/development" title="Portfolio" body="Notable projects I've significantly contributed to" />
      <LinkCard href="/my-projects" title="Weekly Projects" body="I'm doing a small project each week. Check it out!" />
      <LinkCard href="/inktober" title="...Unrelated" body="For fun, my Inktober sketches" />
    </ul>
  </main>
</Layout>

<style>
  h1 {
    font-family:'Charsey';
    line-height: 3.25rem;
  }

  #gs-team {
    color: #1864FB;
    text-decoration: none;
    font-weight: 600;
  }
  #gs-team:visited {
    color: #0453F1;
  }

  #dev-blurb {
    font-family: 'Charsey';
    margin-bottom: 3rem;
  }
	main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
		font-size: 20px;
		line-height: 1.6;
	}

  #main-content {
    width: 800px;
		max-width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main-heading {
    /* color: #f5f8e5; */
    font-size: 7rem;
    font-family: 'OfficeSqueeze';
    transition: margin-left 1 ease-in-out;
    margin-bottom: 2rem;
    text-align: center;
  }

  .main-info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: #f5f8e5; */
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width: 650px;
  }
  .main-info.intro {
    font-size: 1.6rem;
    /* color:rgb(164, 4, 182); */
    color: #94286F;
    text-align: center;
  }
  .main-info.disclaimer {
    font-size: 1.6rem;
    text-align: center;
    color:rgb(255, 111, 0);
  }

  #card-list {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    margin-left: unset;
    padding-left: unset;
    max-width: 1000px;
    width: 100%;
  }

  #dev-icon-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
  }

  .source-code-icon {
    height: 8.5rem;
    width: 8.5rem;
  }

  @media (max-width: 769px) {
    #main-content {
      width: 100%;
    }

    #main-heading {
      font-size: 5rem;
    }

    #card-list {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
