---
// Components
import ImageCard from '../components/ImageCard.astro';
import Layout from '../layouts/Layout.astro';

// Data
import data from '../data/inktober.json';

---
<Layout title="Maggie Bittarelli | Development Portfolio">
  <main id="inktober-page">
    <h1>Inktober 2024</h1>

    <p id="subheading">I committed to doing <a href="https://www.inktober.com" rel="noreferrer noopener" target="_blank">Inktober</a> in support of my partner, who is an excellent visual artist and who wanted to do this month-long journey with someone else.<br /><br />It took a lot of energy each day to come up with inspiration, and then to try to execute on it while being a totally unpracticed sketch artist; I'm not sure that I'd volunteer to do it again next year, but I admittedly really enjoyed the results of my efforts for a handful of the prompts.</p>

    <ul id="image-card-list">
    { 
      data.inktober &&
        data.inktober.map((prompt) => {
          return (
            <ImageCard
              alt={prompt.alt}
              description={prompt.description}
              promptData={prompt.promptData}
              src={prompt.src}
            />
          );
        })
    }
    </ul>
  </main>
</Layout>

<style>
  #inktober-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    margin: 0 auto;
  }

  /* Page heading */
  h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-family: 'Charsey';
    letter-spacing: 2px;
    color: white;
  }

  /* Subheading */
  #subheading {
    max-width: 750px;
    margin-top: unset;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-family: 'Charsey';
    color: white;
  }

  /* Subheading link */
  #subheading a {
    text-decoration-style: dashed;
    color: #D10000;
  }
  #subheading a:visited {
    color: rgb(191, 1, 243);
  }

  /* List of image cards */
  #image-card-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(auto, 300px);
    gap: 1rem;
    padding-left: unset;
    max-width: 1250px;
  }

  /* Point at which the image card list layout should change */
  @media (max-width: 1000px) {
    /* List of image cards */
    #image-card-list {
      grid-template-columns: repeat(2, 300px);
      max-width: 960px;
    }
  }

  /* Mobile mode */
  @media (max-width: 769px) {
    /* Subheading */
    #subheading {
      max-width: unset;
      width: 100%;
    }

    /* List of image cards */
    #image-card-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: unset;
      width: 300px;
    }
  }
</style>