---
import LinkCard from '../components/LinkCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Maggie Bittarelli | My Projects">
	<main>
    <div id="projects-content">
      <h1 id="projects-heading">Projects</h1>

      <ul>
        <LinkCard href="/" title="" body="" />
        <LinkCard href="/" title="" body="" />
        <LinkCard href="/" title="" body="" />
        <LinkCard href="/" title="" body="" />
      </ul>
    </div>
	</main>
</Layout>