
header {
  display: grid;
  /* flex-direction: row; to be added for v1 */
  background: #101521;
  padding: 16px;
}

.logoLink {
  height: 100%;
  height: 70px;
  width: auto;
  border-radius: .5rem;
  justify-self: flex-end; /* to be removed for v1 */
}
.logo {
  height: 70px;
  width: auto;
  border-radius: .5rem;
  margin-right: .5rem;
}

.navLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  padding-right: 16px;
}
.navLink {
  text-decoration: none;
}

.linkCopy {
  color: #f5f8e5;
  font-size: 1.2rem;
}

@media (max-width: 550px) {
  .logoLink {
    justify-self: center;
  }
}