---
// Components
import Header from '../components/Header/Header.jsx';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Maggie Bittarelli's professional software development portfolio and personal home on the web." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/redcircle-m.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(4, 4, 4);
    background-color: #000000;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #000000 340px ), repeating-linear-gradient( #05050555, #090909 );
}

  /* Mobile-only */
  .mobile-only {
    display: none;
  }

  /* Mobile mode */
  @media (max-width: 769px) {
    .mobile-only {
      display: unset;
    }
    .desktop-only {
      display: none;
    }
  }

  /* Fonts */
  @font-face {
    font-family: 'Charsey';
    src: url('/fonts/Charsey-Regular-BF666d3416836e4.otf') format('truetype');
  } 

  @font-face {
    font-family: 'OfficeSqueeze';
    src: url('/fonts/DkOfficeSqueezeRegular-J0m7.otf');
  }
</style>
